langchain_community
streamlit
PyJWT
aiohttp
aiolimiter
aiosignal
altair
annotated-types
anyio
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
backcall
backports.tarfile
bce-python-sdk
beautifulsoup4
bilibili-api-python
bleach
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
dashscope
dataclasses-json
debugpy
decorator
defusedxml
dill
diskcache
distro
docopt
docx2txt
ceptiongroup
executing
faiss-cpu
post1
fastjsonschema
filelock
Flask
fonttools
fqdn
frozenlist
fsspec
future
gitdb
GitPython
google_search_results
greenlet
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
httpx-sse
huggingface-hub
hyperframe
idna
portlib_metadata
importlib_resources
intel-openmp
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jaraco.context
jedi
Jinja2
joblib
json5
jsonpatch
sonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-qdrant
langchain-text-splitters
langchain-wenxin
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mkl
more-itertools
mpmath
multidict
multiprocess
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nose
notebook
notebook_shim
numexpr
numpy
openai
orjson
overrides
packaging
andas
pandocfilters
parso
patsy
pickleshare
pillow
pip
pipreqs
platformdirs
portalocker
prometheus_client
prompt_toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pycparser
ycryptodome
pycryptodomex
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pypdf
pypng
python-dateutil
post0
python-dotenv
python-json-logger
pytz
pywin32
winpty
PyYAML
pyzmq
qdrant-client
qianfan
qrcode
qrcode-terminal
console
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
fetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
soupsieve
LAlchemy
sseclient-py
stability-selection
stack-data
statsmodels
streamlit
sympy
tbb
tenacity
terminado
texttable
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
20240316
typing_extensions
typing-inspect
tzdata
tzlocal
i-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wolframalpha
xlrd
xmltodict
yarg
yarl
zipp
